{% extends './../layouts/promotions_base.html' %}

{% block title %}Edit Promotion{% endblock %}

{% block content %}
<div class="container my-4">
    <h2>Edit Promotion: {{ promotion.title }}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{% url 'promotion_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% include './../layouts/promotions_js.html' %}
{% endblock %}